# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
pytorch.venv/

# Logs / datasets / models
*.log
*.pth
*.ckpt
*.h5
*.csv
*.tsv
*.zip
*.tar
*.gz
*.pth
*.local
*.so
*.logs
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS / editor files
.DS_Store
.idea/
.vscode/

*.out
*.err
